<section class="vh-100" style="background-color: #9a616d">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-7">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-6 d-none d-md-block">
              <img
                src="assets/images/photos/register.jpg"
                alt="login"
                class="img-fluid"
                style="border-radius: 1rem 0 0 1rem"
              />
            </div>
            <div class="col-md-6 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form
                  [formGroup]="registerForm"
                  (ngSubmit)="registerForm.valid && register()"
                  autocomplete="off"
                >
                  <h2 class="text-center text-primary">{{"SIGN-UP.REGISTER" | translate}}</h2>
                  <hr />
                  <!-- Gender radio button-->
                  <div class="form-group">
                    <label class="control-label me-4">I am a :</label>
                    <label class="radio-inline">
                      <input
                        type="radio"
                        value="male"
                        formControlName="gender"
                      />
                      Male
                    </label>
                    <label class="radio-inline">
                      <input
                        type="radio"
                        value="female"
                        formControlName="gender"
                        class="ms-3"
                      />
                      Female
                    </label>
                  </div>
                  <!-- Custom inputs-->
                  <app-text-input
                    [formControl]="
                      convertToFormControl(registerForm.controls['username'])
                    "
                    [label]="'Username'"
                    [type]="'text'"
                  ></app-text-input>
                  <app-date-input
                    [formControl]="
                      convertToFormControl(registerForm.controls['dateOfBirth'])
                    "
                    [label]="'Date Of Birth'"
                    [maxDate]="maxDate"
                  ></app-date-input>
                  <app-text-input
                    [formControl]="
                      convertToFormControl(registerForm.controls['city'])
                    "
                    [label]="'City'"
                    [type]="'text'"
                  ></app-text-input>
                  <app-text-input
                    [formControl]="
                      convertToFormControl(registerForm.controls['country'])
                    "
                    [label]="'Country'"
                    [type]="'text'"
                  ></app-text-input>
                  <app-text-input
                    [formControl]="
                      convertToFormControl(registerForm.controls['password'])
                    "
                    [label]="'Password'"
                    [type]="'password'"
                  ></app-text-input>
                  <app-text-input
                    [formControl]="
                      convertToFormControl(
                        registerForm.controls['confirmPassword']
                      )
                    "
                    [label]="'Confirm Password'"
                    [type]="'password'"
                  ></app-text-input>
                  <!-- Error Messages -->
                  <div
                    class="row mt-2 ms-5"
                    *ngIf="validationErrors.length > 0"
                  >
                    <ul class="text-danger">
                      <li *ngFor="let error of validationErrors">
                        {{ error }}
                      </li>
                    </ul>
                  </div>

                  <div class="form-group text-center mt-2">
                    <button
                      [disabled]="!registerForm.valid"
                      class="btn btn-success me-2"
                      type="submit"
                    >
                      Register
                    </button>
                    <button routerLink="/login" class="btn btn-light me-2" type="button">
                      Login
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
